<p id="notice"><%= notice %></p>

<p>
  <strong>Seat num:</strong>
  <%= @reservation.seat_num %>
</p>

<p>
  <strong>Booked:</strong>
  <%= @reservation.booked %>
</p>

<p>
  <strong>User:</strong>
  <%= @reservation.user_id %>
</p>

<p>
  <strong>Flight:</strong>
  <%= @reservation.flight_id %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
